<section class="new-skill form">
  <h1>New skill</h1>

  <%= render "form.html", changeset: @changeset,
                          categories: @categories,
                          action: skill_path(@conn, :create),
                          submit_text: "Create skill" %>
</section>

<script>
  window.features = {
    "forms": {}
  }
</script>
