<div class="search">
  <label for="search-bar">🔎</label>
  <input type="search" placeholder="Search for a skill" id="search-bar">
</div>

<div class="member-card-grid">

  <%= for user <- rank_users(@users) do %>
    <%= render "small-card.html", conn: @conn, user: user %>
  <%= end %>

</div>

<script>
  window.features = {
    "front-search": {"search-bar-id": "search-bar"}
  }
</script>
