<section class="member-card full">
  <header>
    <img src="http://placekitten.com/75/75" alt="Profile Picture" class="profile-picture">
    <h1><%= String.capitalize @user.name %></h1>
    <%= availability_icon(@user.available) %>
    <%= edit_buttons @conn, @user.name %>
  </header>
  <%= if @user.bio do %>
    <p class="bio">
      <%= @user.bio %>
    </p>
  <% end %>
  <div class="skills">
    <%= full_ratings @user.skill_levels %>
  </div>
</section>
