<section class="member-card">
  <%= link to: user_path(@conn, :show, @user.name) do %>
    <header>
      <%= avatar @user %>
      <h1><%= String.capitalize @user.name %></h1>
      <%= availability_icon(@user.available) %>
    </header>
    <div class="skills">
      <%= small_ratings @user.skill_levels %>
    </div>
  <% end %>
</section>
