<!DOCTYPE html>
<html lang="en">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>*Nix Academy</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">


  <div class="wrapper">
    <header role="banner">
      <h1><%= link "*Nix Academy", to: user_path(@conn, :index) %></h1>

      <nav role="navigation">
        <ul>
          <li><%= link "About", to: page_path(@conn, :about) %></li>
          <%= if logged_in?(@conn) do %>
            <li><%= link "Logout", to: session_path(@conn, :delete) %></li>
            <%= else %>
            <li><%= link "Login", to: session_path(@conn, :create) %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-warn" role="alert"><%= get_flash(@conn, :warn) %></p>
    <p class="alert alert-error" role="alert"><%= get_flash(@conn, :error) %></p>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer>
      <ul>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
      </ul>
      <ul>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
      </ul>
      <ul>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
      </ul>
      <ul>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
      </ul>
    </footer>
  </div>

  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</html>
