<!DOCTYPE html>
<html lang="en">

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>*Nix Academy</title>
  <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">


  <div class="wrapper">
    <header role="banner">
      <h1><%= link "*Nix Academy", to: user_path(@conn, :index) %></h1>

      <nav role="navigation">
        <ul>
          <li><%= link "About", to: page_path(@conn, :about) %></li>
          <%= if logged_in?(@conn) do %>
            <li><%= link "My account", to: user_path(@conn, :show_self) %></li>
            <li><%= link "Available skills", to: skill_path(@conn, :index) %></li>
            <li><%= link "Logout", to: session_path(@conn, :delete) %></li>
          <%= else %>
            <li><%= link "Login", to: session_path(@conn, :create) %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <div class="alert alert-error" role="alert"><%= get_flash(@conn, :error) %></div>
    <div class="alert alert-warn" role="alert"><%= get_flash(@conn, :warn) %></div>
    <div class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></div>

    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

    <footer>
      <ul>
        <li><a href="https://www.clubnix.fr/">clubnix.fr</a></li>
        <%#<li><a href="https://chat.clubnix.fr/">chat.clubnix.fr</a></li>%>
        <li><a href="https://git.clubnix.fr/">git.clubnix.fr</a></li>
        <%#<li><a href="https://docs.clubnix.fr/">docs.clubnix.fr</a></li>%>
      </ul>
      <ul>
        <li><a href="https://www.codecademy.com/">codecademy.com</a></li>
        <li><a href="https://exercism.io/">exercism.io</a></li>
        <li><a href="https://projecteuler.net/">projecteuler.net</a></li>
      </ul>
      <ul>
        <li><a href="http://web.archive.org/web/20160528105810/http://c.learncodethehardway.org/book/">c.learncodethehardway.org</a></li>
        <li><a href="https://learncpp.com/">learncpp.com</a></li>
        <li><a href="https://learnpythonthehardway.org/book/">learnpythonthehardway.org</a></li>
        <li><a href="http://elixir-lang.org/getting-started/introduction.html">elixir-lang.org</a></li>
      </ul>
      <ul>
        <li><a href="https://linuxjourney.com/">linuxjourney.com</a></li>
        <li><a href="https://overthewire.org/">overthewire.org</a></li>
      </ul>
    </footer>
  </div>

  <script
    defer
    src="<%= static_path(@conn, "/js/app.js") %>"
    onload="require('web/static/js/app').App.run()"></script>
</html>
