// Browser vendor prefixes library
@import 'nib'

@import '_config'

section.member-card
	position: relative
	max-width: 40em
	min-width: 25em

section.member-card > header
	display: flex
	align-items: center
	margin-bottom: 1em

section.member-card > header > img.profile-picture
	margin-right: 1em
	height: 4rem
	border-radius: 2em

section.member-card > header > h1
	flex: 1
	font-size: 2em
	border-bottom: 1px solid rgba(0, 0, 0, 0.26)
	padding-bottom: .3em

section.member-card > header > .availability,
section.member-card > header > .edit-button
	position: absolute
	top: 0
	padding: .5em
	width: 1.5em
	height: 1.5em

section.member-card > header > .availability
	right: 0

section.member-card > header > .edit-button
	right: 2em

section.member-card > .skills
	padding-top: 1em
	margin-left: 4em
	flex: 1
	flex-wrap: wrap
	align-items: center
	justify-content: center
	display: flex

section.member-card > .skills table
	display: flex
	flex: 1
	margin-bottom: 1em

section.member-card > .skills table > tbody
	margin: 0 auto

section.member-card > .skills table > tbody > tr
	width: 100%

section.member-card > .skills table > tbody > tr > td.rating
	font-family: sans
	color: accent-bg-color
	padding-left: 1em

// ================
// == Grid cards ==
// ================

.member-card-grid
	display: flex
	flex-wrap: wrap
	justify-content: center

.member-card-grid > section.member-card
	flex: 1
	margin: 3em 1em

// ================
// == Full cards ==
// ================

section.member-card.full
	flex-wrap: wrap
	margin: 3em auto
	max-width: 50em
	justify-content: center

section.member-card.full .category
	min-width: 15em
	margin: 0 1em 1em 1em

section.member-card.full .category h2
	margin: 1em 0

section.member-card.full .category table > tbody
	margin: 0 0 0 2em
