// Browser vendor prefixes library
@import 'nib'

@import '_config'

@font-face
	font-family: 'Fira Sans ExtraLight';
	src: url('/fonts/FiraSans-ExtraLight.eot');
	src: url('/fonts/FiraSans-ExtraLight.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/FiraSans-ExtraLight.woff') format('woff'),
	     url('/fonts/FiraSans-ExtraLight.otf') format('opentype')
	     url('/fonts/FiraSans-ExtraLight.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'Fira Sans ExtraLight';
	src: url('/fonts/FiraSans-ExtraLightItalic.eot');
	src: url('/fonts/FiraSans-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/FiraSans-ExtraLightItalic.woff') format('woff'),
	     url('/fonts/FiraSans-ExtraLightItalic.otf') format('opentype')
	     url('/fonts/FiraSans-ExtraLightItalic.ttf') format('truetype')
	font-weight: normal
	font-style: italic

@font-face
	font-family: 'Fira Sans ExtraLight';
	src: url('/fonts/FiraSans-Book.eot');
	src: url('/fonts/FiraSans-Book.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/FiraSans-Book.woff') format('woff'),
	     url('/fonts/FiraSans-Book.otf') format('opentype')
	     url('/fonts/FiraSans-Book.ttf') format('truetype')
	font-weight: bold
	font-style: normal

@font-face
	font-family: 'Fira Sans ExtraLight';
	src: url('/fonts/FiraSans-BookItalic.eot');
	src: url('/fonts/FiraSans-BookItalic.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/FiraSans-BookItalic.woff') format('woff'),
	     url('/fonts/FiraSans-BookItalic.otf') format('opentype')
	     url('/fonts/FiraSans-BookItalic.ttf') format('truetype')
	font-weight: bold
	font-style: italic

@font-face
	font-family: 'Linux Libertine';
	src: url('/fonts/LinLibertine_DR.eot');
	src: url('/fonts/LinLibertine_DR.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/LinLibertine_DR.woff') format('woff'),
	     url('/fonts/LinLibertine_DR.otf') format('opentype')
	     url('/fonts/LinLibertine_DR.ttf') format('truetype')
	font-weight: bold
	font-style: italic

