// Browser vendor prefixes library
@import 'nib'

@import '_config'

footer
	subsidiary()

	box-sizing: border-box
	width: 100%

	font-size: 1.2em

	padding: 2.5rem 10rem

footer > ul
	display: inline-block
	vertical-align: top
	margin: 0 2em

footer > ul > li > a
	title-font()
	line-height: 1.5em
	border-bottom: 1px solid rgba(255, 255, 255, 0.5)
