// Browser vendor prefixes library
@import 'nib'

@import '_config'

header[role="banner"]
	dominant()
	shadow-elevation-4dp()

	font-size: 1.5em

	display: flex
	align-items: center
	flex-wrap: wrap

	padding: 3rem

header[role="banner"] > h1,
header[role="banner"] > nav
	display: inline-block

header[role="banner"] > h1
	title-font()
	font-size: 3.5rem

header[role="banner"] > nav
	title-font()
	// Align to the right
	margin-left: auto

header[role="banner"] > nav > ul > li
	display: inline-block
	margin: 0 1em
